body {
    font-family: "Plus Jakarta Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    min-height: 100vh;    
}

.container{
    flex: 1;
}

/* NAVBAR */
.navbar{
    height: 5rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* FOOTER */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info-links{
    width: 100%;
}

.f-info-socials{
    width: 100%;
    font-size: 1.3rem;
    margin-right: 1rem;
}

.f-info {
    text-align: center;
    height: 8rem;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* CARDS */
.listing-card{
    border: none;
    margin-bottom: 2rem;
    /* padding: 1rem; */
}

.index-cards{
    height: 30rem;
    margin: 2rem;
}

.card-img-top{
    border-radius: 1rem;
    width: 100%;
    object-fit: cover;
}

.card-listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: whitesmoke;
}

/* SHOW PAGE */
.show-image {
    height: 30vh;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}


#map {
    height: 350px;
    width: 80vh;
}